body {
    background-color: #999;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    grid-template-areas: 
    'header header header'
    'hero hero hero'
    'hero hero hero'
    'testimonials ads ads'
    'testimonials ads ads'
    'services ads ads'
    'freelance ads ads'
    'footer footer footer';
}

body > * {
    padding: 60px 20px;
    text-align: center;

}

.header {
    border: 2px solid black;
    grid-area: header;
}

.header_boxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content:space-between;
    gap: 300px;
    
}

.header_boxes > div {
    border: 2px solid red;
    padding: 20px 15px;
    background-color: #ccc;
}

.hero {
    border: 2px solid black;
    grid-area: hero;
}

.ads {
    border: 2px solid black;
    grid-area: ads;
    display: grid;
    min-width: 300px;
    align-content: center;
}

.services {
    border: 2px solid black;
    grid-area: services;
}

.services_boxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content:space-between;
    gap: 50px;
}

.services_boxes > .service-box {
    border: 2px solid red;
    padding: 20px 50px;
    min-height: 200px;
    background-color: #ccc;
}


.freelance {
    border: 2px solid black;
    grid-area: freelance;
}

.testimonials {
    border: 2px solid black;
    grid-area: testimonials;
}

.testimonials_boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content:space-between;
    gap: 100px;
}

.testimonials_boxes > div {
    border: 2px solid red;
    padding: 20px 100px;
    min-height: 200px;
    background-color: #ccc;
}

.footer {
    border: 2px solid black;
    grid-area: footer;
}


@media (max-width: 992px){
    body {
        grid-template-areas: 
        'header header'
        'hero hero'
        'hero hero'
        'services services'
        'testimonials testimonials'
        'freelance freelance'
        'footer footer';
    }
    .header_boxes {
        grid-template-columns: 1fr 1fr;
        justify-content:space-between;
        gap: 200px
    }
    .ads {
        display: none;
    }
    .nav {
        display: none;
    }
    .services_boxes,
    .testimonials_boxes{
        gap: 40px;
    }
    .services_boxes > .service-box,
    .testimonials_boxes > .testimonials-box{
        min-height: 100px;
    }

    .services_boxes {
        grid-template-columns: 1fr 1fr;
    }

    .service-box:last-child {
        display: none;
    }
}

@media (max-width: 592px) {
    body {
        grid-template-areas: 
        'header'
        'hero'
        'services'
        'freelance'
        'testimonials'
        'footer';
    }
    .header_boxes {
        display: none;
    }
    .services_boxes,
    .testimonials_boxes{
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .services_boxes > .service-box,
    .testimonials_boxes > .testimonials-box{
        min-height: 50px;
    }
    
    .header .nav {
        display: block;
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        border: 2px solid black;
        background-color: #ccc;
    }

    .header {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        background-color: #ccc;
    }
}